atomicwrites==1.4.0
attrs==20.3.0
backcall==0.2.0
bcrypt==3.1.0
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==6.6
colorama==0.4.4
cryptography==3.4.7
decorator==4.4.2
docker==4.4.4
english==2020.7.0
Flask==0.11.1
idna==2.10
importlib-metadata==3.8.0
iniconfig==1.1.1
ipykernel==5.5.0
ipython==6.5.0
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.18.0
Jinja2==2.8
jupyter-client==6.1.12
jupyter-console==5.2.0
jupyter-core==4.7.1
MarkupSafe==0.23
monotonic==1.5
neo4j==4.2.1
neo4j-driver==1.6.3
neotime==1.7.4
packaging==20.9
pansi==2020.7.3
parso==0.8.1
passlib==1.6.5
pickleshare==0.7.5
pluggy==0.13.1
prompt-toolkit==2.0.10
py==1.10.0
py2neo @ git+https://github.com/technige/py2neo.git@b57cf99cad98318c5eb86f0b7950d4c5ff44639a
pycparser==2.14
Pygments==2.8.1
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
pywin32==227
pyzmq==22.0.3
requests==2.25.1
simplegeneric==0.8.1
six==1.15.0
toml==0.10.2
tornado==6.1
traitlets==4.3.3
typing-extensions==3.7.4.3
urllib3==1.22
wcwidth==0.2.5
websocket-client==0.58.0
Werkzeug==1.0.1
zipp==3.4.1
